Repository sharmapukar217/mymart: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, format, lint

type-check:
  run: pnpm tsc --noEmit --incremental

format:
  stage_fixed: true
  run: pnpm biome format --write {staged_files}

lint:
  stage_fixed: true
  run: pnpm biome lint --fix {staged_files}

fix: replace sastodeal with mymart
  src/app/contact-us/page.tsx
  src/components/homepage/hero/HeroSection.tsx
Due: type-check, format, lint

fix: header
  .graphqlrc.ts
  package.json
  pnpm-lock.yaml
  src/app/contact-us/page.tsx
  src/app/delete-account/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/privacy-policy/page.tsx
  src/app/terms-of-services/page.tsx
  src/assets/images/american-gourment-logo.png
  src/assets/images/annam-logo.png
  src/assets/images/become-a-seller.gif
  src/assets/images/britinia-logo.png
  src/assets/images/current-logo.png
  src/assets/images/dabur-logo.png
  src/assets/images/hero.png
  src/assets/images/hilife-logo.png
  src/assets/images/shop-online-old.gif
  src/assets/images/unilever-logo.png
  src/assets/images/waiwai-logo.png
  src/assets/styles/global.css
  src/components/Marquee.tsx
  src/components/common/AnimationProvider.tsx
  src/components/common/Marquee.tsx
  src/components/common/available-cities-section/AvailableCitiesSection.tsx
  src/components/homepage/about-us/AboutUsSection.tsx
  src/components/homepage/brands-section/BrandsSection.tsx
  src/components/homepage/categories/CategoriesSection.tsx
  src/components/homepage/faqs/FAQSection.tsx
  src/components/homepage/hero/HeroSection.tsx
  src/components/homepage/key-features/KeyFeaturesSection.tsx
  src/components/homepage/mobile-app-section/MobileAppSection.tsx
  src/components/homepage/our-promise-section/OurPromiseSection.tsx
  src/components/homepage/our-services/OurServicesSection.tsx
  src/components/homepage/partner-with-us-section/PartnerWithUsSection.tsx
  src/components/layouts/Footer.tsx
  src/components/layouts/Header.tsx
  src/lib/siteConfig.ts
Due: type-check, format, lint

Update HeroSection.tsx
  src/components/homepage/hero/HeroSection.tsx
Due: type-check, format, lint

fix: download url
  src/app/d/route.tsx
  src/assets/styles/global.css
  src/components/homepage/hero/HeroSection.tsx
  src/components/homepage/mobile-app-section/MobileAppSection.tsx
  src/components/layouts/Header.tsx
  src/lib/siteConfig.ts
Due: type-check, format, lint

fix: header active state
  src/app/privacy-policy/page.tsx
  src/app/terms-of-services/page.tsx
  src/components/layouts/Header.tsx
Due: type-check, format, lint

fix: footer
  src/components/layouts/Footer.tsx
Due: type-check, format, lint

fix: update privacy policy
  src/app/privacy-policy/page.tsx
Due: type-check, format, lint

fix: privacy policy
  src/app/privacy-policy/page.tsx
Due: type-check, format, lint

fix: terms-of-services
  src/app/d/route.tsx
  src/app/privacy-policy/page.tsx
  src/app/terms-of-services/page.tsx
  src/components/homepage/hero/HeroSection.tsx
  src/components/layouts/Footer.tsx
  src/lib/siteConfig.ts
Due: type-check, format, lint

fix: add appstore link
  src/lib/siteConfig.ts
Due: type-check, format, lint

Update Next.js & React Flight RCE advisory
  package.json
  pnpm-lock.yaml
Due: format

feat: install app popup
  package.json
  pnpm-lock.yaml
  src/app/contact-us/page.tsx
  src/app/d/route.tsx
  src/app/delete-account/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/privacy-policy/page.tsx
  src/app/terms-of-services/page.tsx
  src/app/verify-email-address-change/page.tsx
  src/assets/images/install-app-popup.png
  src/components/common/AnimationProvider.tsx
  src/components/common/Dialog.tsx
  src/components/homepage/brands-section/BrandsSection.tsx
  src/components/homepage/faqs/FAQSection.tsx
  src/components/homepage/hero/HeroSection.tsx
  src/components/homepage/key-features/KeyFeaturesSection.tsx
  src/components/homepage/mobile-app-section/MobileAppSection.tsx
  src/components/homepage/our-services/OurServicesSection.tsx
  src/components/homepage/partner-with-us-section/PartnerWithUsSection.tsx
  src/components/layouts/Footer.tsx
  src/components/layouts/Header.tsx
  src/components/popups/InstallAppPopup.tsx
  src/lib/fetcher.ts
Due: type-check, format, lint

feat: install app popup
  src/app/layout.tsx
  src/components/NativeWebViewProvider.tsx
  src/components/common/available-cities-section/MapView.tsx
  src/components/homepage/hero/HeroSection.tsx
  src/components/homepage/mobile-app-section/MobileAppSection.tsx
  src/components/layouts/Header.tsx
Due: type-check, format, lint

feat: driver app privacy policy page
  src/app/layout.tsx
  src/app/rider-privacy-policy/page.tsx
Due: type-check, format, lint

chore: update rider&apos;s app privacy policy
  src/app/layout.tsx
  src/app/rider-privacy-policy/page.tsx
Due: type-check, format, lint

feat: add assetfile
  public/.well-known/assetlinks.json
Due: format

feat: add for ios
  public/.well-known/apple-app-site-association
Due: none

fix: assets link
  public/.well-known/assetlinks.json
Due: format

fix: apple site association
  public/.well-known/apple-app-site-association
Due: none

fix: contact page
  public/celebrate-community-img.png
  src/app/contact-us/ContactUsForm.tsx
  src/app/contact-us/page.tsx
Due: type-check, format, lint

fix: social links
  src/components/layouts/Footer.tsx
Due: type-check, format, lint

fix: icons
  src/app/contact-us/page.tsx
Due: type-check, format, lint

fix: working hours
  src/app/contact-us/page.tsx
Due: type-check, format, lint

Path conditions:
  type-check: any of: *.{tsx,ts}
  format: any of: *.{tsx,ts,js,jsx,json,css}
  lint: any of: *.{tsx,ts,js,jsx}
